<h1>Aerbnb</h1>

<% if user_signed_in? %>
  <p>Hi, <%= current_user.email %></p>
  <%= button_to 'Logout', destroy_user_session_path, method: :delete %><br>

  <%= button_to 'Rent a Home', homes_path, method: :get %><br>
  <%= button_to 'Put Up a Home', new_home_path, method: :get %>
<% else %>
  <%= button_to 'Register', new_user_registration_path %> <br>
  <%= button_to 'Login', new_user_session_path %>
<% end %>
