<h1><%= @home.name %></h1>

<h2>Rent per night is: RM<%= @home.rent_daily%></h2>

<%= form_for @booking do |form| %>
  <%= form.label :"How many nights?:" %>
  <%= form.text_field :days %> <br>
  <%= form.hidden_field :user_id, :value => "#{current_user.id}"  %> <br>
  <%= form.hidden_field :home_id, :value => "#{@home.id}"  %> <br>
  <%= form.submit %> <br>
<% end %>
